---
# layout: compress
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

    {% seo %}
</head>

<body style="background-color: rgb(255, 255, 255)">
    <script async src="{{site.baseurl}}/assets/js/theme.min.js"></script>
    <header>
        <a href="{{site.baseurl}}/">
            <div class="home"></div>
        </a>
    </header>
    <div class="frame" id="Frame">
        <div class="frame_fillTop frame_fill"></div>
        <div class="frame_fillBottom frame_fill">
            <p class="copy">
                <small>Copyrights by
                    {{site.title}}
                    | Developed by
                    <a href="http://webjeda.com">webjeda</a>
                </small>
            </p>
        </div>
        <div class="frame_t1"></div>
        <div class="frame_t2"></div>
        <div class="frame_t3"></div>
        <div class="frame_b1"></div>
        <div class="frame_b2"></div>
        <div class="frame_l"></div>
        <div class="frame_r"></div>
        <div class="frame_rect frame_rect1"></div>
        <div class="frame_rect frame_rect2"></div>
        <div class="frame_rect frame_rect3"></div>
        <div class="frame_rect frame_rect4"></div>
        <div class="frame_no_tomato"></div>
        <div class="frame_year_progress_bar">
            <!-- todo 进度条 -->
        </div>
        <div class="frame_text1">

            <div class="links">
                <a href="{{site.baseurl}}/about/">About</a>
                <a href="{{site.baseurl}}/contact/">Contact</a>
                <a href="{{site.baseurl}}/categories.html">Categories</a>
                <a href="{{site.baseurl}}/thoughts.html">thoughts</a>
                <a class="theme" onclick="theme()">Dark/Light</a>
            </div>
        </div>
    </div>
    <main>
        <article>
            {{ content }}
        </article>
    </main>

    {% include analytics.html %}
</body>

</html>